@page
@model halloween.Pages.ChristmasModel


@{
    ViewBag.theme = "newyear";
    ViewBag.dimension = "portrait";

    ViewBag.meta_title = "Wish your friends a warm New Year!!!";
    ViewBag.meta_desc = "Create your greeting now.";
    ViewBag.meta_image = "/images/christian-happy-new-year-pictures.jpg";
     ViewBag.meta_keyword = "new year";

}

<link rel="stylesheet" href="~/css/site.css">

<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center">
            <img class="img-responsive img-rounded bottom" src="@ViewBag.meta_image" 
                        alt="christmas image" />
        </div>
        <div class="col-sm-6 text-center">
            @Html.Partial("_Form", Model.Greetings)
        </div>
    </div>

</div>

@section Scripts {
    <script src="http://www.google.com/recaptcha/api.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}