
@* PLACE THE IMAGE AND THE HEADER OF THE CARD *@

<header> <h1>Send your friends a spooky e-Greeting!</h1></header>

<div class="row">
    <div class="hidden-lg col-sm-4 col-md-4">
        <img class="img-responsive" src="~/images/twoQueens.jpg" />
    </div>
</div>
