<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Halloween Greeting</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/dark-theme.css" rel="stylesheet" /> <!-- Dominant theme-->


    <!--FONTS--> 
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="text-center">@DateTime.Now.Year - Halloween Greeting. All rights reserved.</p>
        </div>
    </footer>

    <!--JQUERY LIBRARY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--BOOTSTARP JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--JAVASCRIPT-->
    <script src="~/js/site.js"></script>

 

    @RenderSection("Scripts", required: false)

    <!-- CHECKBOXES VALIDATOR-->
    <script>
        // extend range validator method to treat checkboxes differently
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

</body>


</html>