
@model halloween.Models.Greetings

<div class="g-recaptcha" 
     data-theme="light" 
     data-sitekey="6LfVpjEUAAAAAJrhQVzVB5M1WAX07P5spNv9OKda">
</div>

<span asp-validation-for="@Model.reCaptcha"
      class="text-danger"></span>

@*<script src="https://www.google.com/recaptcha/api.js" async defer></script>*@