@model halloween.Models.Greetings
@using Microsoft.Extensions.Configuration; 
@inject IConfiguration configuration; 
 
<div class="g-recaptcha" 
     data-theme="light" 
     data-sitekey=@configuration["ReCaptcha:PublicKey"]>
</div>

<span asp-validation-for="@Model.reCaptcha"
      class="text-danger"></span>