@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<h2> Helllo, @Model.to_name, <br /> and their email is:  @Model.to_email</h2>

<form method="post">
    <input type="text" name="to_name" value="" placeholder="Send To" />
    <input type="email" name="to_email" value="" placeholder="Email"/>
    <input type="submit" /> 

</form>