@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<link rel="stylesheet" href="~/css/dark-theme.css">

<div class="container-fluid as-container">

    <div class="row">

        <form class="pull-right as-transparent-form">

            <div class="row">
                <div class="col-lg-12">
                    <!-- SEND TO-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="sendToEmail" placeholder="Send To" required>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="sendersEmail" placeholder="Sender's Email"
                               pattern=""
                               maxlength="255" required>
                    </div>
                </div>

                <!--SEND FROM-->
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="from" placeholder="From Name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="fromEmail" placeholder="From Email" required maxlength="255">
                    </div>
                </div>
            </div>


            <!-- SUBJECT + MESSAGE COMPOSITION-->
            <div class="row">
                <div class="col-sm-12">

                    <div class="form-group">
                        <input type="email" class="form-control" id="subject" placeholder="Subject">
                    </div>

                    <textarea class="form-control" id="comments" name="comments" placeholder="Send your spooky greeting here!" rows="6"></textarea>

                    <br>

                </div>
            </div>

            <div class="row">
                @*<div class="form-group">
                        @Html.Partial("_reCAPTCHAform")
                    </div>*@




                <!--SUBMIT -->
                <div class="col-sm-12">
                    <div class="form-group">
                        <button class="btn btn-default pull-right" type="submit">Submit</button>
                    </div>
                </div>
            </div>

        </form>

</div>
