@page
@model egreeting.Pages.IndexModel


@{
    ViewBag.theme = "halloween";
    ViewBag.dimension = "portrait";

    ViewBag.meta_title = "Let your friends know - they are never alone this Halloween...";
    ViewBag.meta_desc = "Create your greeting now.";
    ViewBag.meta_image = "/images/twoQueens.jpg";
    ViewBag.meta_keyword = "halloween";

}


<link href="~/css/dark-theme.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center">
            @Html.Partial("_Card")
        </div>
        <div class="col-sm-6 text-center">

            @Html.Partial("_Form", Model.Greetings)
        </div>
    </div>

</div>




@section Scripts {
    <script src="http://www.google.com/recaptcha/api.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}