@page
@model egreeting.Pages.PreviewModel



@{
    ViewBag.theme = "halloween";
    ViewBag.dimension = "portrait";

    ViewBag.meta_title = "Preview your greeting";
    ViewBag.meta_desc = "Preview your greeting before you send";
    ViewBag.meta_keyword = "halloween";

}



<link rel="stylesheet" href="~/css/dark-theme.css">


<div class="row">
    <div class="col-lg-7 col-md-6 col-sm-4">
        <div class="card"> @Html.Partial("_Card")</div>
    </div>

    <div class="col-lg-5">

        @Html.Partial("_Preview", Model.Greetings)

        <div class="row">
            <form method="post">
                <!--Send Or Preview CARD -->
                <div class="btn-group">
                    <div class="col-lg-6">
                        <a href="/Update?id=@Model.Greetings.ID" class="btn btn-default">Edit</a>
                    </div>

                    <div class="col-lg-6 col-lg-push-2">

                        <input type="submit" value="Send" class="btn btn-default" />

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>




