@page
@model UpdateModel

<link rel="stylesheet" href="~/css/dark-theme.css">

<div>

    <div class="page-header">
        <h1> Update your egreeting </h1>
    </div>

    <form method="post">
        <div class="row">
            <div class="col-lg-7">
                <div class="card">@Html.Partial("_Card")</div>
            </div>

            <div class="col-lg-5">

                @Html.Partial("_Form", Model.Greetings)
          
            </div>
        </div>
    </form>
</div>



@section Scripts {
    <script src="http://www.google.com/recaptcha/api.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js"></script>
}