@page

@model egreeting.Pages.UpdateModel


@{
    ViewBag.theme = "halloween";
    ViewBag.dimension = "portrait";

    ViewBag.meta_title = "Update your greeting";
    ViewBag.meta_desc = "Update your greeting";
    ViewBag.meta_keyword = "halloween";

}


<link rel="stylesheet" href="~/css/dark-theme.css">

<div>
    
    <form method="post">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                @Html.Partial("_Card")
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                @Html.Partial("_Form", Model.Greetings)
            </div>
        </div>
    </form>

</div>



@section Scripts {
    <script src="http://www.google.com/recaptcha/api.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js"></script>
}