body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #353D40;
    background-color: #B6C7CF;

    padding-bottom: 5em; /*adjust for footer*/
}

a {
    color: #000080;
}

    a:hover,
    a:focus {
        color: #808080;
    }

.as-container {
}

footer {
    background-color: rgba(35, 56, 63, .2);
}

h1 {
    text-shadow: 0.06em 0.03em #23383F;
    color: whitesmoke;
}

.as-transparent-form {
    border: 1px solid;
    background-color: rgba(0,0,0,0.4); /*spooky gray*/
    padding: 1em; /*use em as much as possible*/
    position: relative;
    top: 2em;
}


.form-control {
    color: #000;
}

    .form-control:focus {
        border-color: #23383F;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

input::placeholder {
    color: rgba(53,61,64, .4) !important;
    font-size: 1.2em;
}

textarea::placeholder {
    color: rgba(53,61,64, .4) !important;
    font-size: 1.2em;
}

.has-error .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    background-color: #353D40; /*some form of gray*/
    color: #F5F5F5; /*whitesmoke*/
}

    .btn:hover, .btn:focus {
        background-color: whitesmoke;
        color: #353D40;
    }


/**    
    ****** MOBILE FRIENDLY ********
    Compatible with phone, tablet screens     

 **/

@media only screen and (min-width: 1200px) {
    body {
        background: #000 url('../images/two_queens_blended_background.png') no-repeat center top;
        background-size: cover;
    }
    .as-transparent-form {
        /*float: right;*/ 
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #B6C7CF;
    }

    footer {
       margin-top: .5em; 
    }
}
