body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #353D40;
    /* Location of the image */
    /*background-image: url('../images/twoQueens.jpg');
    /* Background image is centered vertically and horizontally at all times */
    /*background-position: center top;*/
    /* Background image doesn't tile */
    /*background-repeat: no-repeat;*/
    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    /*background-attachment: fixed;*/
    /* This is what makes the background image rescale based
     on the container's size */
    /*background-size: cover;*/
    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #B6C7CF;
}

a {
    color: #000080;
}

    a:hover,
    a:focus {
        color: #808080;
    }

.as-container {
}

footer {
    position: absolute;
    padding: 1em;
    bottom: 0;
    width: 100%;
    height: 1em;
    line-height: 1em;
    color: #F5F5F5 !important;
    background-color: rgba(35, 56, 63, .2);
}

h1 {
    text-shadow: 0.06em 0.03em #23383F;
    color: whitesmoke;
}

.as-transparent-form {
    background-color: rgba(0,0,0,0.4); /*spooky gray*/
    padding: 1em; /*use em as much as possible*/
    position: relative;
    top: 2em;
}


.form-control {
    color: #000;
}

    .form-control:focus {
        border-color: #23383F;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

input::placeholder {
    color: rgba(53,61,64, .4) !important;
    font-size: 1.2em;
}

textarea::placeholder {
    color: rgba(53,61,64, .4) !important;
    font-size: 1.2em;
}

.has-error .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    background-color: #353D40; /*some form of gray*/
    color: #F5F5F5; /*whitesmoke*/
}

    .btn:hover, .btn:focus {
        background-color: whitesmoke;
        color: #353D40;
    }


/**    
    ****** MOBILE FRIENDLY ********
    Compatible with phone, tablet screens     

 **/

@media only screen and (min-width: 1200px) {
    body {
        background: #000 url('../images/two_queens_blended_background.png') no-repeat center top;
        background-size: cover;
    }
    .as-transparent-form {
        /*float: right;*/ 
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #B6C7CF;
    }
}
