
body {
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    font-weight: lighter;
    color: #353D40;
    background: #B6C7CF;
    padding-bottom: 4em; /*adjust for footer*/
}

a {
    color: navy;
}

    a:hover,
    a:focus {
        color: gray;
    }

.panel-default {
    background-color: rgba(204, 204, 204, 0.1);
    border: .5px solid;
}

footer {
    color: whitesmoke !important;
    background-color: #000 !important;
}


.page-header {
    font-family: 'IM Fell DW Pica SC', serif;
    padding: 1em;
    color: #000;
}

.form-control {
    color: #000;
}

    .form-control:focus {
        border-color: #23383F;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

input::placeholder {
    color: rgba(53,61,64, .4);
    font-size: 1.2em;
}

textarea::placeholder {
    color: #353d40;
    color: rgba(53, 61, 64, .4);
    font-size: 1.2em;
}

.has-error .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    background-color: rgb(53, 61, 64); /*some form of gray*/
    color: #F5F5F5; /*whitesmoke*/
}

    .btn:hover, .btn:focus {
        background-color: whitesmoke;
        color: #353D40;
    }


/**    
    ****** User Errors ********

 **/
.text-danger {
    color: #ff6600;
    color: rgba(255, 102, 0, .9);  /*blazing orange*/
    font-weight: bold;
}



/**    
    ****** Images ********

 **/

.card {
    background: url(../images/twoQueens_two.jpg) no-repeat top left;
    background-size: cover; 
    text-align: center;
    padding:0;
    margin:0;
    max-width: 564px; 
}

    .card img { 
        padding:0;
        margin:0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        animation-name: FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 30s;
        animation-direction: alternate;
    }

@media screen and (min-width:1200px){
    .card {
        background-size: auto;
    }
}
/**    
    ****** Animations ********

 **/
@keyframes FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



label.boldType {
    font-size: 2em;
    color:whitesmoke ;
}

.content {
    font-size: 1.5em;
    padding-left: 10px;
}

/**    
    ****** MOBILE FRIENDLY ********************************************
    Compatible with phone, tablet screens
    
    ************************************************************************
 **/

/*
    ******* Desktop views ***********************************************************************        
*/
@media only screen and (min-width: 1200px) {

}

/*
    ****** Tablet views  ************************************************************************     
    Devices: iPad 

*/

    /* This is portrait style */
@media (min-width: 768px) and (max-width: 1024px) {

    .col-lg-5 {
        padding-top: 2em;
    }

    .img-responsive {
       margin-left: 5em;
    }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .col-lg-5 {
        padding-top: 2em;  
    }
}

