body {
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
    color: #333;
    background: #fff;
}

a {
    color: #ff6347;
}

    a:hover,
    a:focus {
        color: #ff6347;
        text-decoration: underline;
        font-weight: bold;
        font-size: 1em;
    }


body-content {
    background-color: #ff6347; /*orange*/
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.form-control:focus {
    border-color: #5cb85c;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.has-error .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*textarea:focus, input:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
    outline: 0 none !important;
}*/

/*FOCUS form outline to black*/
/*.form-control:focus {
    border-color: #000000; 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}*/

#buttonSubmit:hover, #buttonSubmit:focus {
    background-color: #000000; /*black*/
    color: #ff6347
}

.img-responsive {
    width: 100%
}
