/**    
    ****** General Theme ********
        Backbone theme

 **/

body {
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
    color: #000000;
    background: #fff;
}

a {
    color: #ff6347;
}

    a:hover,
    a:focus {
        color: #ff6347;
        text-decoration: underline;
        font-weight: bold;
        font-size: 1em;
    }


/**    
    ****** ReCAPTCHA Theme ********
           
    Make ReCAPTCHA box play friendly on phones 

 **/
.g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
} 
