@page


@model egreeting.Pages.christmas.CompleteModel

@{

    ViewData["Title"] = "Complete";
    ViewBag.theme = "christmas";
    ViewBag.dimension = "portrait";

    ViewBag.meta_title = "Christmas Greeting";
  
}


<h2>Congrats!</h2>

<p>Your egreeting was successfully sent! </p>