@page "{ID?}"

@model egreeting.Pages.christmas.PreviewModel

@{
    ViewBag.theme = "christmas";
    ViewBag.dimension = "portrait";

    ViewBag.meta_title = "Wish your friends a warm Christmas.";
    ViewBag.meta_desc = "See your greeting now.";
    ViewBag.meta_image = "/images/beautiful_merry_christmas.gif";
    ViewBag.meta_keyword = "christmas";

}


<div class="panel panel-default">
    <div class="panel-heading ">
        <h3><span id="name">@Model.Greetings.FromName</span> sent you a card!</h3>
    </div>

    <div class="panel-image hide-panel-body">
        <img class="img-responsive img-rounded bottom" src="@ViewBag.meta_image"
             alt="christmas image" />
    </div>
    <div class="panel-body">
        @Html.Partial("_Read", Model.Greetings)
    </div>
    <div class="panel-footer text-center">
        <a href="~/" class="btn btn-primary">Send A Greeting</a>
    </div>
</div>



