@page

@model egreeting.Pages.christmas.UpdateModel

@{
    ViewBag.theme = "christmas";
    ViewBag.dimension = "portrait";

    ViewBag.meta_title = "Update your greeting";
    ViewBag.meta_desc = "Create your greeting now.";
    ViewBag.meta_image = "/images/beautiful_merry_christmas.gif";
    ViewBag.meta_keyword = "christmas";

}

<div>

    <form method="post">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <img class="img-responsive img-rounded bottom" src="@ViewBag.meta_image"
                     alt="christmas image" />
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                @Html.Partial("_Form", Model.Greetings)
            </div>
        </div>
    </form>

</div>

